<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Design Portfolio</title>
  <script>document.documentElement.classList.add("js");</script>
  <link rel="stylesheet" href="../style/main.css">
</head>
<body>
  <main class="portfolio is-booting">
    <div class="portfolio__bg" aria-hidden="true">
      <div class="bg-img bg-flower--large" data-depth="0.62">
        <img src="../assets/images/flower-large.png" alt="">
      </div>
      <div class="bg-img bg-flower--small-left" data-depth="0.86" data-drift="reverse">
        <img src="../assets/images/flower-small-left.png" alt="">
      </div>
      <div class="bg-img bg-flower--small-top" data-depth="1.05">
        <img src="../assets/images/flower-small-top.png" alt="">
      </div>
      <div class="bg-img bg-flower--hero" data-depth="0.74">
        <img src="../assets/images/flower-hero.png" alt="">
      </div>
    </div>
    <section class="section work" id="work">
      <div class="section-title2">        
        <h2 class="title-small">LMO정보시스템</h2>      
      </div>
      <ul class="concept-list">
        <li class="concept-item">
          <p class="concept-item__title">concept</p>
          <div class="concept-item__content">
            <p class="concept-item__headline">
              신뢰성과 전문성을 기반으로, 친근한 사용자 경험을 제공하는 연구안전 정보 사이트
            </p>
            <p class="concept-item__description">
              LMO 정보시스템의 공공기관 이미지를 유지하면서도, 캐릭터와 일러스트, 여백 중심의 UI를 활용하여 전문적이지만 어렵지 않은 서비스를 지향하였습니다.
            </p>
          </div>
        </li>      
        <li class="concept-item">
          <p class="concept-item__title">color</p>
          <div class="concept-item__color">
            <span style="background-color:#083183;"></span>
            <span style="background-color:#0084F0;"></span>
            <span style="background-color:#E4F1FD;"></span>
          </div>
        </li>
      </ul>      
      <div class="portfolio__img">
        <img src="../assets/images/tem_20/img01.png" alt="">
      </div>
    </section>
    <a href="../index.html" class="btn-close">
      <img src="../assets/images/close.svg" alt="닫기">
    </a>    
    </main>
    <script src="../js/portfolio-bg.js"></script>
    <script src="../js/portfolio-template.js"></script>
</body>

</html>